.container {
	width: 100%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.navigation-bar {
  list-style:none;
  display:inline;
  height:5%;
  width:100%;
}

.navigation-item {
  display:inline;
  margin-left: 5px;
  border: 1px black solid;
  border-bottom: none;
  padding: 3 7;
  padding-bottom: 1px;
  background-color: #0080FF;
}

#navigation-home {

}

.img {
 /*  width:100%;  */
}


#brand {

}
.about {
  font-family: "Times New Roman", Times, serif;

}
.about-red {
  font-family: "Times New Roman", Times, serif;
  display:inline;
  color: #F00;
 
}


.copyright {
  display:inline;
  margin-left:50%;
  margin-right:50%;
}
