.navigation-bar {
  list-style:none;
  display:inline;
}

.navigation-item {
  display:inline;
  margin-left: 5px;
  border: 1px black solid;
  border-bottom: none;
  padding: 3 7;
  padding-bottom: 1px;
  background-color: #0080FF;
}

#navigation-home {

}

.img {
 /*  width:100%;  */
}

#brand {
  position:absolute;
}

.about {
  font-family: "Times New Roman", Times, serif;

}
.about-red {
  font-family: "Times New Roman", Times, serif;
  display:inline;
  color: #F00;
 
}


.copyright {
  display:inline;
  margin-left:50%;
  margin-right:50%;
}
